body {
    background-image: url("res/bg.svg");
    background-color: #05050C;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
}

.footer {
    color: #404040;
    font: 2rem "Noto Sans", Helvetica, Arial, sans-serif;
    margin-top: auto;
    padding-bottom: 2rem;
}

.logo {
    margin-top: auto;
    justify-content: center;
}

.logo img {
    width: 40vw;
}

.container_sidebar {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 40dvh;
    line-height: 0;
}

.container_sidebar img {
    width: 100%;
}

.links {
    position: absolute;
    top: 0;
    left: 15%;
    right: 10%;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    color: #B7E1D3;
    font: 3dvh "Noto Sans", Helvetica, Arial, sans-serif;
    text-decoration: none;
}